@charset 'utf-8';
/*关于我们*/
.container .cover{height:910px;background-color:#101d4c;}
.container .cover-img{margin-top:-455px;}
.container .cover-txt{margin-top:-120px;text-shadow:5px 5px 5px rgba(0,0,0,.5);}

.about-tab{width:1000px;margin:auto;display:table;position:relative;background-color:#f1f1f1;}
.about-tab a{display:table-cell;text-align:center;height:55px;line-height:55px;position:relative;z-index:1;}
.about-tab .over{color:#fff;}
.about-tab .current-bg{background-color:#eb7413;position:absolute;left:0;top:0;bottom:0;width:33.33%;}
.about-con{width:1000px;margin:auto;padding:50px 0 100px;}
.about-con p{text-indent:2em;text-align:justify;line-height:2;}
.about-con h2{font-weight:100;}

.about-intro{opacity:0;transform:translate3d(0,-15px,0);-webkit-transform:translate3d(0,-15px,0);-webkit-transition:all 1s ease-out;transition:all 1s ease-out;}
.is-loaded .about-intro{opacity:1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);}